{% extends "BaseTemplate.html" %}


{% block content %}
<div class="container">
    {% if current_user.is_authenticated %}
    {% if daily_gift_date == default_timer %}

    <div class="modal" id='genana'>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row justify-content-md-center">
                        <button type="button" style="width:496" class="btn btn-outline-warning btn-lg btn-block"> Daily
                            Gift
                        </button>
                    </div>
                </div>
                <div class="modal-body">
                    <p>Your Daily Gift(500$) is ready!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-outline-success"> Get!</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#genana').modal('show')





    </script>

    {% endif %}
    {% endif %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <h6 class="card-subtitle text-muted">Convenient, simple and free</h6>
        </div>
        <Img src="{{ url_for('static', filename='img/mainscreen.jpg') }}" style=" object-fit: cover;">
        <div class="card-body">
            <p class="card-text">Our project gives possibility for you and your friends enjoy karaoke even at home.
                Thousands songs, a lot of genres, performers and albums now available for free. You can prove your skill
                for millions another players with our advanced rating system. Sings hardest melodies, earn points, beat
                records, take the highest chart in extra league and earn the best rewards! </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Free To Play</li>
            <li class="list-group-item">Requires No Installing</li>
        </ul>
        <div class="card-body">
            <a href="{{ url_for('security.register') }}">
                <button type="button" class="btn btn-info">Start for Free</button>
            </a>
            <a href="{{ url_for('general.premium') }}">
                <button type="button" class="btn btn-warning">Get Premium</button>
            </a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Contact Us</h4>
            <a href="#" class="card-link">Discord</a>
            <a href="https://vk.com/maxiskilov" target="_blank" class="card-link">VK</a>
            <a href="#" class="card-link">Telegram</a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4">

            </div>
        </div>
    </div>
</div>
{% endblock %}




















