{% extends 'BaseTemplate.html' %}

{% block content %}

<script src="{{ url_for('static', filename='js/speech.js') }}"></script>
<script src="https://cdn.jsdelivr.net/gh/foobar404/wave.js/dist/bundle.iife.js"></script>

<button class='btn' id="start">Start</button>
<button class='btn' id="stop">Stop</button>

<button id='startStop' type="button" class="btn btn-success">Play</button>


<p id="text"></p>
{{ song.name }}
<pre>{{ song.lyrics }}</pre>

<audio id="song" controls src="{{ url_for('static', filename='songs/'+song.path) }}"></audio>
<canvas id="visualizer" height="500" width="500"></canvas>


<script>
    <!-- Visualizer -->
    let wave = new Wave();
    options = {type:"star"};
    wave.fromElement("song","visualizer", options);
</script>

{% endblock %}