{% extends 'BaseTemplate.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="bs-component">
                <div class="card border-success">
                    <div class="card-body">
                        <button id='startStop' type="button" class="btn btn-outline-success btn-lg btn-block">Play</button>
                        <div class="text-center">
                            <h1 id="scoreTracker"></h1>
                            <canvas id="visualizer" height="500" width="500"></canvas>
                        </div>

                    </div>
                    <div class="card-body">
                    <span class="btn btn-outline-danger btn-lg btn-block disabled"
                          style="font-size: 25">{{ song.name }}</span>
                    <p id="text"></p>
                        <div id="lyrics-container" style="overflow-y: scroll; height: 550px">
                            <pre style='text-align: center; line-height: .7; overflow: hidden' id="original-lyrics">{{ ly|safe }}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<audio id="song" controls src="{{ url_for('static', filename='songs/'+song.path) }}"></audio>


<script src="{{ url_for('static', filename='js/levensteinAlgo.js') }}"></script>
<script src="{{ url_for('static', filename='js/speech.js') }}"></script>
<script src="https://cdn.jsdelivr.net/gh/foobar404/wave.js/dist/bundle.iife.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    var original_text = '{{ song.lyrics|tojson }}';
    var recognition_language = '{{ song.language|tojson }}';
    var song_id = '{{ song.id|string }}';

    <!-- Visualizer -->
    let wave = new Wave();
    options = {type:"flower"};
    wave.fromElement("song","visualizer", options);
























</script>


{% endblock %}