{% extends "BaseTemplate.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <form class="form-inline my-2 my-lg-0">
            <div class="card-body">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" name="q"
                       value="{{ request.args.get('q', '') }}">
                <button class="btn btn-success" type="submit">Search</button>
            </div>
        </form>
    </div>

    <div class="card border-success mb-3">

        <div class="text-center">
            <div class="header">
                {% for song in songs %}
                <a href="{{ url_for('general.speech', song_id=song.id) }}" style="font-size: 25px">{{ song.name
                    }} </a> <span
                    class="badge badge-success" style="font-size: 17">Easy</span> <br>

                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}
